/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/09/2020, 08:56:15 PM
    Author     : ya
*/

#conta{

    background: blue;
}
#login{
    text-align: center;

}

#fondo{
    margin: 0 auto;
    width: 200px;
    width: 350px;
}

.bordeFrmLogin {
    border:1px solid #000;
    border-radius: 1px;
    margin:20px;
    padding: 6px;
}

.bordeFrmP {
   
    border-radius: 1px;
    margin:20px;
    padding: 6px;
}


.tamanoImagen{
    height: 90px;
    width: 220px;
}

